#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
}

.App-header {
  padding: 2rem;
}

.card {
  padding: 2em;
}

.card button {
  margin-bottom: 1rem;
}

code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: 'Courier New', monospace;
}

@media (prefers-color-scheme: light) {
  code {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
