@import "tailwindcss";

@layer base {
  body {
    font-family: "Urbanist", sans-serif;
  }
}

.vibur-regular {
  font-family: "Vibur", cursive;
  font-weight: 400;
  font-style: normal;
}

.urbanist-regular {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.urbanist-bold {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.urbanist-medium {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
